In [8]:
'''
merge genotype info from one table to the other based on a common column.
'''

'\nmerge genotype info from one table to the other based on a common column.\n'

In [9]:
import wx
import pandas as pd

In [10]:
def get_path(wildcard, title_text):
    app = wx.App(None)
    style = wx.FD_OPEN | wx.FD_FILE_MUST_EXIST
    dialog = wx.FileDialog(None, title_text, wildcard=wildcard, style=style)
    if dialog.ShowModal() == wx.ID_OK:
        path = dialog.GetPath()
    else:
        path = None
        sys.exit()
    dialog.Destroy()
    return path

In [11]:
data_fn = get_path('*.*', 'Choose data file')
data = pd.read_table(data_fn, delimiter = ',')
print 'loading data file', data_fn
data['cell_name'] = data['file_name'].map(lambda fn: fn[:9])
print data.head(2)

loading data file /Users/taneja/work/predicted_test1.csv
              0             1             2             3             4  \
0  3.050000e-10  3.050000e-10  3.050000e-10  3.040000e-10  3.040000e-10
1  3.060000e-10  3.060000e-10  3.060000e-10  3.060000e-10  3.060000e-10

              5             6             7             8             9  \
0  3.040000e-10  3.040000e-10  3.040000e-10  3.040000e-10  3.030000e-10
1  3.060000e-10  3.060000e-10  3.060000e-10  3.060000e-10  3.060000e-10

     ...                98            99  peak_x        peak_y  \
0    ...      3.050000e-10  3.050000e-10     884  3.020000e-10
1    ...      3.050000e-10  3.050000e-10    1601  3.000000e-10

        file_name  selected  threshold_x  threshold_rel_x   threshold_y  \
0  Cell_0001_0011         0          850               16  3.040000e-10
1  Cell_0001_0011         0         1567               16  3.040000e-10

   cell_name
0  Cell_0001
1  Cell_0001

[2 rows x 108 columns]

In [12]:
info_fn = get_path('*.*', 'Choose info file')
info = pd.read_table(info_fn, delimiter = ',')
print 'loading info file', info_fn
print info.head(2)

loading info file /Users/taneja/work/mouse_info.csv
   cell_name      date genotype     sex mouse_line  mouse_id        dob  \
0  Cell_0001  09_15_15      ntg  female     283.1A      1136  6/23/2015
1  Cell_0002  09_15_15      ntg  female     283.1A      1136  6/23/2015

  date_of_expt  age_in days
0    9/15/2015           84
1    9/15/2015           84

In [13]:
df_merge = pd.merge(data, info, on = 'cell_name', sort = False)
df_merge.head(5)

,0,1,2,3,4,5,6,7,8,9,...,threshold_y,cell_name,date,genotype,sex,mouse_line,mouse_id,dob,date_of_expt,age_in days
0,3.050000e-10,3.050000e-10,3.050000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.030000e-10,...,3.040000e-10,Cell_0001,09_15_15,ntg,female,283.1A,1136,6/23/2015,9/15/2015,84
1,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,...,3.040000e-10,Cell_0001,09_15_15,ntg,female,283.1A,1136,6/23/2015,9/15/2015,84
2,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,3.040000e-10,...,3.040000e-10,Cell_0001,09_15_15,ntg,female,283.1A,1136,6/23/2015,9/15/2015,84
3,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,3.060000e-10,...,3.060000e-10,Cell_0001,09_15_15,ntg,female,283.1A,1136,6/23/2015,9/15/2015,84
4,3.020000e-10,3.020000e-10,3.010000e-10,3.010000e-10,3.010000e-10,3.010000e-10,3.000000e-10,3.000000e-10,3.000000e-10,3.000000e-10,...,2.990000e-10,Cell_0001,09_15_15,ntg,female,283.1A,1136,6/23/2015,9/15/2015,84

In [14]:
df_merge.to_csv(data_fn, index = False)